# v2023-02-04 [rivy]
# spell-checker:ignore (people) Roy Ivy III * rivy (words) globstar

# NOTE: Git GLOBSTAR syntax [see `git help gitignore`]
# * ref: [.gitignore] http://git-scm.com/docs/gitignore @@ http://archive.is/Rk6rO
# * ref: [Generate a 'gitignore'](https://gitignore.io) ; eg, <https://gitignore.io/api/node>

# ignore intermediate/undistributed build artifacts
build
[._@#$]build
target

# ignore coverage data
coverage
[._@#$]coverage
.nyc_output

# ignore JS import/package-related files
node_modules
package-lock.json
yarn.lock
# * allow packaging of lock files into '.deps-lock'
!.deps-lock/package-lock.json
!.deps-lock/yarn.lock

# ignore `yarn`-related files (allows use of "modern" v2+ `yarn`)
# * ref: <https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored> @@ <https://archive.is/Sc1Ab>
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# * use `.yarnrc.yml` for `yarn` config
.yarnrc
